[submodule "macros/heichips26_vcr/macros/vcr_bisection/macros/isource_beta"]
	path = macros/heichips26_vcr/macros/vcr_bisection/macros/isource_beta
	url = https://github.com/santihofi/isource_beta.git
[submodule "macros/heichips26_vcr/macros/vcr_bisection/macros/opamp_rtr"]
	path = macros/heichips26_vcr/macros/vcr_bisection/macros/opamp_rtr
	url = https://github.com/santihofi/opamp_rtr.git
